.modal-movie-detail {
  position: fixed;
  z-index: 13;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #141414;
  transition: opacity 0.5s ease, z-index 0.5s ease, transform 0.8s ease;
  opacity: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.movie-detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 50px;
  color: #ffffff;
  width: 1080px;
}

.movie {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.movie-poster {
	width: 300px;
	flex-shrink: 0;
}

.movie-poster img {
	width: 100%;
}

.movie-button {
  height: 40px;
  margin-top: 10px;
}

.detail {
  margin-left: 3.5rem;
}

.detail h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.plot {
  font-size: 1.2rem;
}

.little-detail {
  margin: 10px 0;
  font-size: 0.9rem;
  color: #98a0a6;
}

.detail ul {
  margin: 20px 0;
  list-style: none;
}

.detail li {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.detail li span {
  width: 150px;
  flex-shrink: 0;
}

.rate {
  color: #ffe170;
}

.votes {
  margin-left: 10px;
  color: #98a0a6;
}

@media only screen and (max-width: 960px) {
  .movie-detail {
    flex-direction: column;
    align-items: center;
  }
  .movie {
    margin-top: 70px;
    margin-bottom: 30px;
    width: 30%;
  }
  .detail {
    margin-left: 0;
  }
  .movie-poster {
    width: 100%;  
  }
}

@media only screen and (max-width: 720px) {
  .movie {
    margin-top: 100px;
    margin-bottom: 30px;
    width: 40%;
  }
  .detail li span {
    width: 120px;
  }
}

@media only screen and (max-width: 520px) {
  .movie {
    margin-top: 190px;
    margin-bottom: 30px;
    width: 50%;
  }
}