.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 50px 50px;
  width: 40%;
}

@media only screen and (max-width: 1500px) {
  .movie-list {
    width: 60%;
  }
}

@media only screen and (max-width: 1024px) {
  .movie-list {
    width: 85%;
  }
}

@media only screen and (max-width: 720px) {
  .movie-list {
    width: 95%;
  }
}
