.wrapper {
  max-width: 768px;
  width: 100%;
  padding: 15px;
}

.searchbox {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #eee;
  border-radius: 8px;
  color: #53565a;
  font-size: 1.5rem;
  transition: 0.4s ease;
}

.searchbox:focus {
  box-shadow: 0px 0px 6px 2px #ffe170;
}
